* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #b9bdd685, #75135dba);
  margin: 4rem auto;
}

.ages {
  padding: 15px 20px;
  background-color: #d1d1dd;
  border-radius: 1rem;
  font-size: 13px;
  width: 7rem;
}

.noms {
  padding: 0.5rem;
  background-color: #d1d2df;
  border-radius: 1rem;
  font-size: 14px;
  width: 8rem;
}

header {
  text-align: center;
  font-size: 4rem;
}

#container {
  justify-content: center;
  padding: 2rem;
  gap: 1rem;
  display: flex;
  margin: auto;
  width: 100%;
}

main {
  margin: 1rem auto;
  background: linear-gradient(to bottom, #888daf85, #642a56ba);
  width: 100%;
}

.submits {
  border-radius: 1rem;
  background-color: #b6a1b4;
}

table {
  width: 100%;
  border: 1px solid gray;
  background: linear-gradient(to bottom, #b9bdd685, #75135dba);
  margin: auto;
}

th {
  border-right: 1px solid #5a5858;
  border-bottom: 1px solid #585656;
}

.delete-btn {
  background: linear-gradient(to bottom, #8f95bd85, #aa2889ba);
  padding: 2px;
  border-radius: 2rem;
}

@media only screen and (min-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #b9bdd685, #75135dba);
  }

  .ages {
    padding: 1rem;
    background-color: #d1d1dd;
    border-radius: 1rem;
    font-size: 1.1rem;
    width: 13rem;
  }

  .noms {
    padding: 1.5rem;
    background-color: #d1d2df;
    border-radius: 1rem;
    font-size: 1.1rem;
    width: 30rem;
  }

  header {
    text-align: center;
    font-size: 4rem;
    text-shadow: #5a5858;
  }

  #container {
    justify-content: center;
    padding: 3rem;
    gap: 1rem;
    display: flex;
    width: 50%;
    margin: auto;
  }

  main {
    width: 50%;
    margin: 1rem auto;
    background: linear-gradient(to bottom, #888daf85, #be86b1ba);
    padding-bottom: 1.5rem;
    box-shadow: 20px 20px 20px #252525;
    transition: transform 0.3s ease-in-out;
  }

  .submits {
    font-size: 1.1rem;
    border-radius: 1rem;
    background: linear-gradient(to bottom, #b9bdd685, #75135dba);
    padding: 1rem;
  }

  table {
    width: 90%;
    border: 1px solid gray;
    background: linear-gradient(to bottom, #b9bdd685, #75135dba);
    font-size: 1.5rem;
    margin: auto;
    text-align: center;
  }

  th {
    padding: 1rem 2rem;
    border-right: 1px solid #5a5858;
    border-bottom: 1px solid #585656;
  }

  .delete-btn {
    background: linear-gradient(to bottom, #b9bdd685, #75135dba);
    padding: 3px;
    border-radius: 4rem;
  }
}
